.root {
    --drkblue: #1269C7;
    --litblue: #59c3c3;
    --platinum: #ebebeb;
    --drkpink: #f45b69;
    --litpink: #f87575;
}

body {
    background: url("../images/sea.jpg");
    padding: 50px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ebebeb;
    background: rgba(244, 91, 105, .4) /*  40% opacity */
}

.top-wrapper {
    display: flex;
    flex-direction: column;
}

header h1 {
    padding-top: 15px;
    font-size: 25px;
}

.middle-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* The below rules target the top menue bar */

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.top-button {
   padding: 10px; 
   border-radius: 40px;
   transition-duration: 0.4s;
   background-color: #f45b69;
   margin: 5px;
   
}

.top-button a {
    color: #59c3c3;
}

.top-button:hover {
    background-color: #f87575;
}

.top-button a:hover {
    color: orange;
}

/* The below rules target the about me section and images */

.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    background: rgba(244, 91, 105, .4) /*  40% opacity */
}

.about-me h2 {
    padding: 5px 5px 5px 0;
}

/* The below rules target the work section and images */

.work {
    padding: 10px;
    background: rgba(244, 91, 105, .4) /*  40% opacity */
}

.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.primary-project {
    flex-direction: row;
    justify-content: center;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.primary-project:hover, .project:hover {
    opacity: 60%; /* this makes the boxes go ghost when you hover over them */
    box-shadow: inset 0 0 8px rgba(89, 195, 195, 1), 0 0 15px rgba(89, 195, 195, 1); /* This makes the boxes glow */
}

.primary-project {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    
    }
    
.project {
    width: 250px;
    height: 250;
    border-radius: 100%;
    align-self: center;
}

.resume {
    background: rgba(244, 91, 105, .4) /*  40% opacity */
}


    /* The below rules target the contact me section */

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(244, 91, 105, .4) /*  40% opacity */
       
}

.contact-me-list {
    display: flex;
    justify-content: center;
}

.contact-me h2 {

}

.contact-me li {
    padding: 0 5px 0 0;
}

footer {
    text-align: center;
    background: rgba(244, 91, 105, .4) /*  40% opacity */
    
}

/*
@media screen and (max-width: 768px) {
      body {
        justify-content: center;
      }
    } */
